common --enable_bzlmod

import %workspace%/../../.bazelrc.cache
# Shared Android configuration.
import %workspace%/../../.bazelrc.android

# Enable Android targets.
common --config=android
try-import %workspace%/../../.bazelrc.local
